// :root{
//     --primary-color: #00D856;
// }
$primary-color: #00d856;
$bg-color: #fff;
$primary-text: #000;
$secondary-text: #565656;
$stroke-color: #d0d5dd;
$stroke-color-l: #E9E9E9;
$template-bg: #f3f3f3;
