@import "../styles/variables.scss";

.app-editor {
  width: min(50%, 960px);
  background-color: $bg-color;
  overflow-y: scroll;
}
.page-area {
  width: max(50%, calc(100% - 960px));
  background-color: $template-bg;
  display: flex;
}
