$template-color: #545454;

.template1-body {
  color: $template-color;
  background-color: #fff;

  font-size: 1em;
  height: 100%;
  padding: 0 3.5em;
  overflow: hidden;
}
.template-heading {
  font-size: 2em;
}
.template-para {
  font-size: 1em;
}
