@import "../styles/variables.scss";

.accordion {
  border: 1px solid $stroke-color-l;

  border-radius: 5px;

  padding: 25px;
  transition: height 0.5s, scale 0.5s, opacity 0.5s;
  transform-origin: top;
  .accordion-header {
    width: 100%;
    display: flex;
    align-items: center;
    .acco-hadr-item {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      h2 {
        text-transform: capitalize;
        font-weight: 400;
        margin: 0;
      }
    }
  }
  .accordion-body {
    padding-top: 35px;
    overflow: hidden;
    height: initial;

    transform-origin: top;

    &.collapse {
      padding-top: 0;
      height: 0;
    }
    .acco-cont-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &.secondary-accordion {
    border: 1px solid #c9c9c9;

    .accordion-header {
      .acco-hadr-item {
        h2 {
          font-size: 18px;
          color: $secondary-text;
        }
        .acco-dropper-btn {
          color: $secondary-text;
        }
      }
      .delete-btn {
        margin-left: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
