.preview-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  .preview {
    background-color: #fff;
    aspect-ratio: 1/1.414;
    width: 100%;

    margin: 40px 0;
    .template-wrapper {
      height: 100%;
      aspect-ratio: 1/1.414;

      overflow: hidden;
    }
  }
}
